/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

#firebase
/src/scanapp1/firebase/init.cljs

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# clj-kondo
/.clj-kondo/

# calva
/.calva/
